.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

#logo {
  top: 40%;
}

#heading1 {
  top: 61%;
  font-size: 50px;
}

#heading2 {
  top: 75%;
  font-size: 50px;
}

#paragraph {
  top: 85%;
}

#mouse-click {
  top: 111%;
}

.bodyheadings {
  text-align: center;
}

#title {
  margin-top: 50px;
}

#services-heading {
  margin-top: -210px;
}

#paragraph2 {
  margin-top: -175px;
  color: #fff;
  font-size: medium;
}

#paragraph3 {
  color: #fff;
  font-size: medium;
}

#paragraph4 {
  color: #fff;
  font-size: medium;
}

#wwd-heading {
  margin-top: 50px;
  margin-bottom: 50px;
}

.wwd-description1 {
  display: none;
  text-align: center;
}

.wwd-description2 {
  display: none;
  text-align: center;
}

.wwd-description3 {
  display: none;
  text-align: center;
}

.col-sm-4 {
  display: flex;
  justify-content: center;
  text-align: center;
}

#caption {
  display: block;
}

#portfolio-heading {
  margin-top: 50px;
  margin-bottom: 10px;
}

#con-port {
  width: 65%;
  height: auto;
}

.img-porfolio {
  width: 100%;
  margin: 8px;
}

.img-sec {
  margin-top: 50px;
}

#contact-heading {
  margin-top: -400px;
}

#con-soc-icons {
  display: flex;
  justify-content: center;
}

.social-icons {
  margin-top: -50px;
  margin: 8px;
}

.social-icons:hover {
  cursor: pointer;
}

.des-p {
  margin-top: -11px;
}

.img-porfolio:hover {
  filter: blur(1.5px);
}

#p-img1,
#p-img2,
#p-img3,
#p-img4,
#p-img5,
#p-img6,
#p-img7,
#p-img8 {
  position: relative;
}

#project-name1,
#project-name2,
#project-name3,
#project-name4,
#project-name5,
#project-name6,
#project-name7,
#project-name8 {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

#form {
  position: relative;
}

.contact-p {
  position: absolute;
  bottom: 320px;
}

.contact-p1 {
  position: absolute;
  bottom: 320px;
}

.contact-p2 {
  position: absolute;
  bottom: .1px;
}

.form-input {
  width: 250%;
  background: transparent;
  border-color: #fff;
  color: #fff;
}

.form-input::placeholder {
  color: #fff;
}

#text-area {
  resize: none;
  margin: 50px;
  width: 320%;
  background: transparent;
  border-color: #fff;
  color: #fff;

}

#text-area::placeholder {
  color: #fff;
}

#btn-sub {
  color: #fff;
  width: 98px;
  position: absolute;
  margin-left: 500px;
  margin-top: -50px;
}

#btn-sub:hover {
  background-color: #fff;
  color: #000;
}

.modal {
  text-align: center;
}

.footer {
  text-align: center;
}


@media screen and (min-width: 200px) and (max-width: 767px) {
  .centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  #logo {
    top: 9%;

  }

  #heading1 {
    top: 20%;
    font-size: 20px;
  }

  #heading2 {
    top: 25%;
    font-size: 15px;
  }

  #paragraph {
    top: 30%;
    font-size: 10px;
  }

  #mouse-click {
    top: 38%;
  }

  #services-heading {
    margin-top: -98px;
    font-size: 5px;
  }

  #paragraph2 {
    margin-top: -100px;
    color: #fff;
    font-size: smaller;
  }

  #paragraph3 {
    margin-top: -20px;
    color: #fff;
    font-size: smaller;
  }

  #paragraph4 {
    margin-top: -18px;
    color: #fff;
    font-size: smaller;
  }

  .col-sm-4 {
    margin-bottom: 30px;
  }

  #project-name1,
  #project-name2,
  #project-name3,
  #project-name4,
  #project-name5,
  #project-name6,
  #project-name7,
  #project-name8 {
    bottom: 90px;
    right: 80px;
  }

  #form {
    position: relative;
  }

  #contact-heading {
    top: 3770px;
  }

  .contact-p {
    position: absolute;
    bottom: 100px;
  }

  .contact-p1 {
    position: absolute;
    bottom: 100px;
    left: 250px;
  }

  .contact-p2 {
    position: absolute;
    bottom: .1px;
  }

  .form-input {
    width: 80%;
    background: transparent;
    border-color: #fff;
    color: #fff;
  }

  .form-input::placeholder {
    color: #fff;
  }

  #text-area {
    display: none;
    resize: none;
    margin-bottom: 10px;
    width: 20%;
    background: transparent;
    border-color: #fff;
    color: #fff;

  }

  #text-area::placeholder {
    color: #fff;
  }

  #btn-sub {
    color: #fff;
    width: 98px;
    position: absolute;
    margin-left: 330px;
    margin-top: -40px;
  }

  #btn-sub:hover {
    background-color: #fff;
    color: #000;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  #logo {
    top: 9%;

  }

  #heading1 {
    top: 25%;
    font-size: 45px;
  }

  #heading2 {
    top: 35%;
    font-size: 30px;
  }

  #paragraph {
    top: 48%;
    font-size: 18px;
  }

  #mouse-click {
    top: 60%;
  }

  #services-heading {
    margin-top: -160px;
    font-size: 5px;
  }

  #paragraph2 {
    margin-top: -150px;
    color: #fff;
    font-size: smaller;
  }

  #paragraph3 {
    margin-top: -15px;
    color: #fff;
    font-size: small;
  }

  #paragraph4 {
    margin-top: -1px;
    color: #fff;
    font-size: small;
  }

  .col-sm-4 {
    margin-bottom: 30px;
  }

  #con-port {
    width: 85%;
    height: auto;
  }

  #project-name1,
  #project-name2,
  #project-name3,
  #project-name4,
  #project-name5,
  #project-name6,
  #project-name7,
  #project-name8 {
    bottom: 50px;
    right: 15px;
  }

  #form {
    position: relative;
  }

  #contact-heading {
    top: 2005px;

  }

  .contact-p {
    position: absolute;
    bottom: 180px;
  }

  .contact-p1 {
    position: absolute;
    bottom: 180px;

  }

  .contact-p2 {
    position: absolute;
    bottom: -100px;
  }

  .form-input {
    width: 80%;
    background: transparent;
    border-color: #fff;
    color: #fff;
  }

  .form-input::placeholder {
    color: #fff;
  }

  #text-area {

    resize: none;
    margin-bottom: 10px;
    width: 20%;
    background: transparent;
    border-color: #fff;
    color: #fff;

  }

  #text-area::placeholder {
    color: #fff;
  }

  #btn-sub {
    color: #fff;
    width: 98px;
    position: absolute;
    margin-left: 600px;
    margin-top: -45px;
  }

  #btn-sub:hover {
    background-color: #fff;
    color: #000;
  }


}
