.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  #logo {
    top:40%;
  }
  #heading1 {
    top: 61%;
    font-size: 50px;
  }
  #heading2 {
    top: 75%;
    font-size: 50px;
  }
  #paragraph {
    top: 85%;
  }
  #mouse-click {
    top: 111%;
  }
  .bodyheadings {
    text-align: center;
  }
  #title {
    margin-top: 50px;
  }
  #services-heading {
    margin-top: -210px;
  }
  #paragraph2 {
    margin-top: -175px;
    color: #fff;
    font-size:medium ;
  }
  #paragraph3 {
    color: #fff;
    font-size:medium ;
  }
#wwd-heading {
  margin-top: 50px;
  margin-bottom: 50px;
}
.wwd-description1 {
  display: none;
  text-align: center;
}
.wwd-description2 {
  display: none;
  text-align: center;
}
.wwd-description3 {
  display: none;
  text-align: center;
}
.col-sm-4 {
  display: flex;
  justify-content: center;
  text-align: center;
}
#caption {
  display: block;
}
#portfolio-heading {
  margin-top: 50px;
  margin-bottom: 10px;
}
#con-port {
  width: 65%;
  height: auto;
}
.img-porfolio {
  width: 100%;
  margin: 8px;
}
.img-sec {
  margin-top: 50px;
}
#contact-heading {
  margin-top: -400px;
}
#con-soc-icons {
  display: flex;
  justify-content: center;
}
.social-icons {
  margin-top: -50px;
  margin: 8px;
}
.social-icons:hover {
  cursor: pointer;
}
.des-p {
  margin-top: -11px;
}